<div class="container py-3">
    <div class="border p-4 bg-light">
      <div class="card p-3">
        <h3 class="p-3 bg-light text-primary text-center"><%= t('.title') %></h3>
      </div>
      <br>
      <div class='form text-center'>
        <%= form_with model: @user, url: reminder_time_path, method: :post, local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class='pb-4'>
          <%= f.label :reminder_time %>
        </div>
        <%= f.time_field :reminder_time, class: "form-control mb-3" %>
        <br>
        <%= f.submit t('defaults.update') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
